.aaaaa{
    padding: 0;
    margin: 0;
    height: 39em !important;
}
.middel{
    border-left:1px solid #0000002b;
    border-right:1px solid #0000002b;
   
}
.box{
    height: 100% !important; 
}
.border_bold{
    border:  1px solid #0000007b;
}

  